{% extends "base.html" %}

{% block "title" %} Automobilis {% endblock %}

{% block "content" %}
{% load static %}
{% if vehicle.photo %}
<div>
    <img src="{{ vehicle.photo.url }}" class="img-fluid" alt="..." width="700" height="700">
    {% else %}
    <img src="{% static 'img/no-image.png' %}" class="img-fluid " width="700" height="700">
</div>
{% endif %}
<br>
<h1>Automobilis:</h1>
<br>

<p><strong>Automobilis: </strong>{{ vehicle.vehicle_model }}</p>
<p><strong>Savininkas: </strong>{{ vehicle.owner_name }}</p>
<p><strong>VIN kodas: </strong>{{ vehicle.vin }}</p>
<p><strong>Valstybinis numeris: </strong>{{ vehicle.plate }}</p>
<hr>
<!--{{ vehicle.id }}-->
{% endblock %}